Xft.dpi:                        96
Xft.antialias:                  1
Xft.autohint:                   1
Xft.hinting:                    1
Xft.hintstyle:                  hintslight
Xft.lcdfilter:                  lcdlight
Xft.rgba:                       rgb
Xcursor.theme:                  Adwaita
URxvt.perl-ext-common: default,matcher,selection-to-clipboard
URxvt.cutchars: "\"(),<>[]{}|'`"
URxvt.depth: 32
URxvt.scrollTtyOutput:      false
URxvt.scrollWithBuffer:     true
URxvt.scrollTtyKeypress:    true
URxvt.scrollBar: false
URxvt.fading: 0
URxvt.background: [90]#000000
URxvt.foreground: #ffffff
URxvt.font: xft:monospace:pixelsize=12
URxvt.allow_bold: true
URxvt.mouseWheelScrollPage: true
URxvt.cursorBlink: true
URxvt*font: xft:Symbola:style=Regular:pixelsize=14
! Key Bindings
! ============

! Copy/Paste, same keys as gnome-terminal
! https://stackoverflow.com/questions/39884093
! Disable ISO 14755 unicode input so we can use Ctrl-Shift bindings
URxvt.iso14755:        false
URxvt.iso14755_52:     false
! Disable Ctrl-Alt-c & Ctrl-Alt-v bindings (optional)
URxvt.keysym.C-M-c:    builtin-string:
URxvt.keysym.C-M-v:    builtin-string:
! Bind Ctrl-Shift-c & Ctrl-Shift-v to copy and paste
! I dont know why, but I needed to use hex keysym values to get it to work
URxvt.keysym.C-S-0x43: eval:selection_to_clipboard
URxvt.keysym.C-S-0x56: eval:paste_clipboard

URxvt.keysym.Home: \033[H
URxvt.keysym.End:  \033[F

! match vte/xterm
URxvt.keysym.Control-Up:    \033[1;5A
URxvt.keysym.Control-Down:  \033[1;5B
URxvt.keysym.Control-Left:  \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C
